<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Journe Flask Project</title>
</head>
<body>
Hello world</br> This is my awesome Flask Project
<blockquote> <p>Out of the night that covers me,</br> Black as the pit from pole to pole,</br> I thank whatever gods may be</br> For my unconquerable soul.</p> <p>In the fell clutch of circumstance<br> I have not winced nor cried aloud.<br> Under the bludgeonings of chance<br> My head is bloody, but unbowed.</p> <p>Beyond this place of wrath and tears<br> Looms but the Horror of the shade,<br> And yet the menace of the years<br> Finds, and shall find me, unafraid.</p> <p>It matters not how strait the gate,<br> How charged with punishments the scroll,<br> I am the master of my fate:<br> I am the captain of my soul.</p> — <cite>Invictus</cite>, by William Ernest Henley </blockquote>
</body>
</html>